@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input, textarea{
 @apply border-2 border-blue-300 bg-white px-5 py-2 rounded-lg
}

.button{
  @apply bg-blue-500 rounded-lg px-5 py-2 text-white shadow-md
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}



.skeleton-img{
  animation: skeleton-img-loading 1s linear infinite alternate;
}


@keyframes skeleton-img-loading {
  0% {
    background-color: #A9A9A9;
  }
  100% {
    background-color: #808080;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: #C0C0C0;
  }
  100% {
    background-color: #E5E4E2;
  }
}